@model List<Student>
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
@{
    foreach (var item in Model)
    {
        <h2>@item.Id</h2>
        <h2>@item.Name</h2>
        <h2>@item.Standard</h2>
        <h2>--------</h2>
    }
}