@model IEnumerable<PartialViewASPNETCore.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <partial name="_ProductsPartialView" model="item"/>
            </div>
        }

    </div>
</div>