@model Employee
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
   <h2>ID: @Model.EmpId</h2>
    <h2>Name: @Model.EmpName</h2>
    <h2>Salary: @Model.Salary</h2>
}
