@model PartialViewASPNETCore.Models.Product

<div class="card" style="width: 22rem;">
    <img src="@Model.Image" asp-append-version="true" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">Rs. @Model.Price</p>
        <a href="#" class="btn btn-primary">View Product</a>
    </div>
</div>