<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color: greenyellow">Header Portion</header>
    <div>
        @RenderBody()
    </div>
    <footer style="background-color: skyblue">Footer Portion</footer>
</body>
</html>
